<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand"   href="/">
    Angular Simple CRUD
  </a>
</nav>


<div class="conteiner">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group " style="margin-left: 20px ; margin-top: 20px ;">
        <li 
        *ngFor="let employee of employeeArray"
        class="list-group-item list-group-item-action">
          <span class="badge badge-info">{{employee.id}}</span>  {{employee.name}} - {{employee.country}} 

        </li>

      </ul>
      <div class="card mt-4" style="margin-left: 20px; ">
        <div class="card-body" >
          <div class="card-title" >
            Inserte un nuevo empleado

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <img width="300"  src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="">
    </div>
  </div>
</div>



      
 
