<nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand ml-10 "  href="/">
    Angular Simple CRUD
  </a>
</nav>


<div class="conteiner">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group " style="margin-left: 100px ; margin-top: 20px ;">
        <li 
        *ngFor="let employee of employeeArray"
        class="list-group-item list-group-item-action"
        (click)="openForEdit(employee)"
        [class.active]="employee == selectedEmployee"
        >
          <span class="badge badge-success">{{employee.id}}</span>  {{employee.name}} - {{employee.country}} 
        </li>
      </ul>
      <div class="card mt-4" style="margin-left: 100px ;">
        <div class="card-body" >
          <div class="card-title" >
            Inserte un nuevo empleado
          </div>
          <div class="form-group">
            <input type="text "   [(ngModel)]="selectedEmployee.name"  placeholder="Escriba un nuevo nombre " class="form-control">
          </div>
          <div class="form-group">
            <input type="text "   [(ngModel)]="selectedEmployee.country"  placeholder="Escriba un nuevo país " class="form-control mt-2">
          </div>
          <button (click)="addOrEdit()" class=" btn btn-info mt-4 ml-4 ">
              Enviar
          </button>
          <button
          *ngIf="selectedEmployee.id !==0" class=" btn btn-danger mt-4" 
          style=" margin-left:15px ;"
          (click)="delete()"
          >
          Eliminar
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <img width="300"  src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="">
    </div>
  </div>
</div>



      
 
